.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 1000;
    width: 100%;
    color: var(--text-color);
    &-links{
        display: flex;
        align-items: center;
        li{
            margin: 0 30px;
        }

    }
}
